*.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environment
venv/
env/

# Django
db.sqlite3
*.log
*.pot
*.pyc

# React / Node
node_modules/
build/
dist/

# System
.DS_Store
Thumbs.db

# VSCode / IDE
.vscode/
.idea/

# Git
*.swp

id_rsa
*.pem
*.env
