
.navBar{
    margin-top: 0;
    background-color: #fff;
       box-shadow: 0 0 0 1px rgba(140, 140, 140, 0.2), 
            0 2px 3px rgba(0, 0, 0, 0.05);
             display: flex;
             align-items: center;
             justify-content: space-between;
             padding-right: 50px;
}

.navBar div{
    display: flex;
    width: 600px;
    padding: 20px 0;
    justify-content: space-between;
    align-items: center;
    
   
  
}
.navBar h1{
    margin: 0;
    margin-left: 40px;
}


.navBar  button{
    border: 1px solid rgb(219, 219, 219);
    background-color: transparent;
     margin: 10px;
    padding: 10px;
    border-radius: 5px;
    margin-right: 25px;
}
.navlink{
    font-size: x-large;
   text-decoration: none;
   color: black;
}