
.navBar{
    margin-top: 0;
    background-color: #fff;
       box-shadow: 0 0 0 1px rgba(140, 140, 140, 0.2), 
            0 2px 3px rgba(0, 0, 0, 0.05);
             display: flex;
             align-items: center;
             justify-content: space-between;
}

.navBar div{
    display: flex;
    width: 400px;
  
    justify-content: space-between;
    align-items: center;
   
  
}
.navBar h1{
    margin: 0;
}


.navBar  button{
    border: 1px solid #14bef0;
    background-color: transparent;
     margin: 10px;
     color: white;
    padding: 10px;
}